
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';


// Font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
	background-color: #acb5bfc7;
	color: #ffffff !important;
}


.nav-link:hover {
	background-color: #acb5bf7d;
	color: #ffffff !important;
}

.red {
	color: red;
}

.white {
	color: #fff;
}

.orange-bg {
	background-color: #F96332;
}

.green-bg {
	background-color: #38C172;
}

table>thead>tr>.th-50 {
	min-width: 50px;
}
table>thead>tr>.th-80 {
	min-width: 80px;
}

table>thead>tr>.th-120 {
	min-width: 120px;
}

table>thead>tr>.th-150 {
	min-width: 150px;
}

table>thead>tr>.th-200 {
	min-width: 200px;
}
table>thead>tr>.th-300 {
	min-width: 300px;
}